// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #e9ecef;
}

.navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.nav-item {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.nav-link {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}


@media (min-width: 1200px) {
  .jumbotron {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('../../public/uploads/images/bg.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 60%;
  
    .container {
      padding-top: 15%;

      span {
        font-weight: 700;
      }
    }
  }

  .middle {
    text-align: center;
    transform: translateY(-50%);
    .but {
      display: inline-block;
      width: 50px;
      height: 50px;
      background: #f1f1f1;
      margin: 10px;
      border-radius: 30%;
      box-shadow: 0 5px 15px -5px #00000070;
      color: #3498db;
      overflow: hidden;
    }
    
    .but i {
        line-height: 50px;
        font-size: 25px;
        transition: 0.2s linear;
    }
  }

  .but:hover i {
    transform: scale(1.3);
  }

  .card {
    margin-top: 1rem;

    .card-header {
      border-bottom: unset;
      padding: .3rem .5rem;
    }

    .card-body {
      padding: unset;
    }
  }

  .pagination {
    float: right;
    margin-top: 1rem;
  }

  .card-portfolio {
    padding: .7rem .5rem;
    
    .button {
      margin-bottom: .5rem;
    }

    .card-body {
      img {
        box-shadow: 1px 1px 1px 1px darkgray;
      }
    }
  }
}
