// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.nav-item {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.nav-link {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}


@media (min-width: 1200px) {
  .jumbotron {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('../../public/uploads/images/bg.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 60%;
  
    .container {
      padding-top: 15%;

      span {
        font-weight: 700;
      }
    }
  }
}
