// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #c9e8df;
}

.card {
  background-color: rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.nav-item {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.nav-link {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.about {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

#index {
  height: 100vh;

  h1 {
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: 700;
  }
}

.pagination {
  float: right;
  margin-top: 1rem;
}

iframe {
  padding: .75rem;
}

#blog {

  margin-top: 5rem;

  .container {

    nav {

      ol.breadcrumb {
        border-bottom: .5px solid #0057ff;
        background-color: transparent;

        li {

          a {
            color: rgba(0, 0, 0, 0.5) !important;
          }

          a:hover {
            color: rgba(0, 0, 0, 0.7) !important;
            text-decoration: none;
          }

        }

      }

    }

    .row {

      .card {

        .card-body {
          padding: .5rem;
        }

      }
      .content {
          h3 {
            font-size: 40px;
            color: #000;
            text-transform: capitalize;
            margin-top: 5;
            margin-bottom: 15;
            line-height: 1.125 !important;
            float: left;
            width: 100%;
            font-weight: 700;
          }

          p {
            float: left;
            width: 100%;
            padding: 0;
            margin-top: 0;
            font-size: 15px;
          }
      }

    }

  }

  .list-blog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem;
    border-bottom: 1px solid #0057ff;
  }

}







@media (min-width: 992px) {
  #index {
    h1 {
      font-size: 8rem;
    }
  }

  .middle {
    text-align: center;
    transform: translateY(-50%);
    .but {
      display: inline-block;
      width: 50px;
      height: 50px;
      background: #f1f1f1;
      margin: 10px;
      border-radius: 30%;
      box-shadow: 0 5px 15px -5px #00000070;
      color: #3498db;
      overflow: hidden;
    }

    .but i {
        line-height: 50px;
        font-size: 25px;
        transition: 0.2s linear;
    }
  }

  .but:hover i {
    transform: scale(1.3);
  }

  .card {
    margin-top: 1rem;

    .card-header {
      border-bottom: unset;
      padding: .3rem .5rem;
    }

    .card-body {
      padding: unset;
    }
  }

  .card-portfolio {
    padding: .7rem .5rem;

    .button {
      margin-bottom: .5rem;
    }

    .card-body {
      img {
        box-shadow: 1px 1px 1px 1px darkgray;
      }
    }
  }

  .about {

    h3 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1rem;
    }

  }
}


@media (max-width: 992px) {
  #app {
    nav.navbar.navbar-expand-lg.navbar-light.fixed-top {
      background-color: $blue;
    }
  }

  #index {
    h1 {
      font-size: 6rem;
    }
  }

  .card {
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  #index {
    h1 {
      font-size: 3rem;
    }
  }

  .card {
    margin-top: .5rem;
  }
}
